{% extends "base.html" %}
{% load icons %}
{% icon "mail" cls="h-4 w-4 text-gray-400 flex-shrink-0" %}
{% icon "phone" cls="h-4 w-4 text-gray-400 flex-shrink-0" %}
{% icon "users" cls="h-4 w-4 text-gray-500 flex-shrink-0" %}
{% icon "user-plus" cls="h-4 w-4 text-gray-500 flex-shrink-0" %}
{% icon "user" cls="h-4 w-4 text-gray-500 flex-shrink-0" %}
{% icon "clock" cls="h-3 w-3 text-gray-500 flex-shrink-0" %}
{% icon "activity" cls="h-4 w-4 text-green-600 flex-shrink-0" %}
{% icon "calendar" cls="h-4 w-4 text-indigo-600 flex-shrink-0" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% endblock %}