{% load icons %}

<aside id="sidebar" class="
  fixed lg:sticky top-[57px] left-0 h-[calc(100vh-57px)]
  bg-white border-r border-gray-200 w-64 z-30
  transition-transform duration-300 ease-in-out
  -translate-x-full lg:translate-x-0
">
  <nav class="p-4 space-y-2">

    <!-- ADMIN : TOUT le sidebar -->
    {% if current_user.role.name == "Admin"  %}
      <a class="w-full flex items-center gap-3 px-4 py-3 rounded-md transition-color hover:bg-gray-100
         {% if current_user.first_login %}disabled-link{% endif %}"
         href="{% url 'monitoring:dashboard' %}">
        {% icon "home" cls="h-5 w-5 text-indigo-500" %} Dashboard
      </a>
    {% endif %}

    {% if current_user.role.name == "Admin" %}
      <a class="w-full flex items-center gap-3 px-4 py-3 rounded-md transition-colors hover:bg-gray-100
         {% if current_user.first_login %}disabled-link{% endif %}"
         href="{% url 'machines:raspi-management' %}">
        {% icon "camera" cls="h-5 w-5 text-green-700" %} Gestion des appareils
      </a>
    {% endif %}

    <a class="w-full flex items-center gap-3 px-4 py-2 rounded-md transition-colors text-gray-700 hover:bg-gray-100
       {% if current_user.first_login %}disabled-link{% endif %}"
       href="{% url 'monitoring:surveillance' %}">
      {% icon "heart" cls="h-5 w-5 text-gray-500" %} Surveillance
    </a>
    <a class="w-full flex items-center gap-3 px-4 py-2 rounded-md transition-colors text-gray-700 hover:bg-gray-100
       {% if current_user.first_login %}disabled-link{% endif %}"
       href="{% url 'patients:patient' %}">
      {% icon "users" cls="h-5 w-5 text-gray-500" %} Patients
    </a>
        {% if current_user.role.name != "Docteur"  %}
    <a class="w-full flex items-center gap-3 px-4 py-2 rounded-md transition-colors text-gray-700 hover:bg-gray-100
       {% if current_user.first_login %}disabled-link{% endif %}"
       href="{% url 'machines:machines' %}">
      {% icon "waves" cls="h-5 w-5 text-gray-500" %} Machines
    </a>
    {% endif %}


    <a class="w-full flex items-center gap-3 px-4 py-2 rounded-md transition-colors text-gray-700 hover:bg-gray-100
       {% if current_user.first_login %}disabled-link{% endif %}"
       href="{% url 'seances:planning' %}">
      {% icon "calendar" cls="h-5 w-5 text-gray-500" %} Séances
    </a>

    {% if current_user.role.name == "Admin"  %}
      <a class="w-full flex items-center gap-3 px-4 py-2 rounded-md transition-colors text-gray-700 hover:bg-gray-100
         {% if current_user.first_login %}disabled-link{% endif %}"
         href="{% url 'accounts:docteurs' %}">
        {% icon "stethoscope" cls="h-5 w-5 text-gray-500" %} Docteurs
      </a>
    {% endif %}

    {% if current_user.role.name != "Infirmier" %}
      <a class="w-full flex items-center gap-3 px-4 py-2 rounded-md transition-colors text-gray-700 hover:bg-gray-100
         {% if current_user.first_login %}disabled-link{% endif %}"
         href="{% url 'accounts:nurses' %}">
        {% icon "user" cls="h-5 w-5 text-gray-500" %} Infirmiers
      </a>
    {% endif %}
    

  </nav>
</aside>

<div id="sidebarOverlay" class="fixed inset-0 bg-black bg-opacity-50 z-20 lg:hidden hidden"
  style="background: rgba(0,0,0,.25); backdrop-filter: blur(12px); -webkit-backdrop-filter: blur(12px);"></div>
