{% extends "base.html" %}
{% load static %}

    {% block content %}
    <h1>Liste des utilisateurs</h1>

    {% for user in user_list %}
        <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
            <h2>{{ user.username }}</h2>
            <p>Date d'inscription : {{ user.date_inscription }}</p>
            {% if user.get_specialite %}
                <p>Spécialité : {{ user.get_specialite }}</p>
            {% endif %}
            <p>Rôle : {{ user.role.name }}</p>
        </div>
    {% empty %}
        <p>Aucun utilisateur trouvé.</p>
    {% endfor %}
    {% endblock %}
